HELP.md
.gradle
### 忽略build目录下无关信息文件，主要是需要提交queryDsl生成的文件 ###
### /build/ ###
/build/classes/
/build/libs/
/build/reports/
/build/resources/
/build/tmp/
/build/test-results/
/build/generated/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
